.cards-main-container {
	white-space:nowrap;
	overflow-x:hidden;
    overflow-y:hidden;
    background-color: #ECECEC;
}

.cards-container {
    position:relative;
    display:inline-block;
}
canvas#0 {
	width:50px !important;
	height:60px !important;
}